GYMPRO_ENV_FILE=.env
APP_PORT=5000
SQLSERVER_PORT=1433
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:5000

DB_NAME=GymManagementDB
MSSQL_SA_PASSWORD=ChangeThis_Strong_SQL_Password_123!
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=GymManagementDB;User Id=sa;Password=ChangeThis_Strong_SQL_Password_123!;TrustServerCertificate=True;MultipleActiveResultSets=true;Connection Timeout=30;

JwtSettings__SecretKey=ChangeThis_To_A_64_Character_Random_Local_Secret_1234567890
JwtSettings__Issuer=GymManagementAPI
JwtSettings__Audience=GymManagementClient
JwtSettings__ExpiryMinutes=480

Email__Enabled=false
Email__SmtpHost=smtp.gmail.com
Email__SmtpPort=587
Email__EnableSsl=true
Email__Username=
Email__Password=
Email__FromEmail=
Email__FromName=GymPro
Email__OtpExpiresMinutes=5

Khqr__BakongAccountId=merchant@bakong
Khqr__MerchantName=GymPro
Khqr__MerchantCity=Phnom Penh
Khqr__CountryCode=KH
Khqr__MerchantCategoryCode=7997
Khqr__DefaultCurrency=USD
Khqr__PaymentExpiresMinutes=10
Khqr__ApiBaseUrl=
Khqr__ApiToken=

BAKONG_BASE_URL=
BAKONG_ACCESS_TOKEN=
BAKONG_EMAIL=
BAKONG_MERCHANT_ACCOUNT_ID=merchant@bakong
BAKONG_MERCHANT_NAME=GymPro
BAKONG_MERCHANT_CITY=Phnom Penh
BAKONG_DEFAULT_CURRENCY=USD
BAKONG_PAYMENT_EXPIRATION_MINUTES=10

CorsOrigins__0=http://localhost:5000
AllowedHosts=*
